$bodyBackground:              #eeeeee;
$navbarBackground:            #555566;
$navbarBackgroundHighlight:   #555566;
$textColor:                   rgba(0, 0, 0, 1);

$tabBackgroundColor:          #999999;
$tabBackgroundColorLite:      #eeeeee;
$tabTextColor:                #eeeeee;
$tabBorderColor:              #999999;