
body {
  @include gradient-radial(lighten($bodyBackground, 7%), $bodyBackground);
}

a {
  color: black;

  &:hover {
    color: red;
  }
}

.navbar-text {
  display: inline-block;
}

li {
  color: #999999;
}


// NAV
//-------------------------------------------------------

.nav-tabs,
.nav-pills {
  & > .active > a,
  & > .active > a:hover {
    background-color: $tabBackgroundColor;
    color: $tabTextColor;
  }
}