@import url('//fonts.googleapis.com/css?family=Arbutus+Slab|Lusitana:400,700');

$bodyBackground:              #f1f9fb;  
$navbarBackground:            #2278b4;
$navbarBackgroundHighlight:   #2278b4;
$textColor:                   rgba(0, 0, 0, 1);

$tabBackgroundColor:          #1b8770;
$tabBackgroundColorLite:      #00b2cc;
$tabTextColor:                #eeeeee;
$tabBorderColor:              #999999;

$btnPrimaryBackground:        #3cb9c6;

$serifFontFamily:    'Arbutus Slab', 'Book Antiqua', Palatino, serif;
$headingsFontFamily: 'Lusitana 400', 'Times New Roman', Times, serif;